{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>User Details</h2>
    <div id="user-view">
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9" id="user_id">{{ user.user_id }}</dd>
            <dt class="col-sm-3">Vorname</dt>
            <dd class="col-sm-9" id="first_name">{{ user.first_name }}</dd>
            <dt class="col-sm-3">Nachname</dt>
            <dd class="col-sm-9" id="last_name">{{ user.last_name }}</dd>
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9" id="email">{{ user.email }}</dd>
        </dl>
    </div>
</div>

{% endblock %}