<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Wegeverwaltung Home {% endblock %}</h1>

    <table>
      <th>
        <tr>
          <td>User ID</td>
          <td>First name</td>
          <td>Mail</td>
        </tr>
      </th>
 
    {% for user in users %}
    <tr>
      <td>
        <a href="{{ url_for('get_user_by_id', user_id=user['UserId']) }}">
          <h5>{{ user['UserId']}}</h5>
        </a>
      </td>
      <td>{{ user['name'] }}</td>
      <td>{{ user['email'] }}</td>
    </tr>        
    {% endfor %}
    </table>
{% endblock %}